body {
    --white: #FBFCFC;
    --dark-black: #212F3D;
    --light-black: #BDC3C7;
}

.app {
    display: flex !important;
    height: 100vh !important;
    max-width: 1300px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}