body {
    --white: #f8f9fa;
    --dark-black: #343a40;
    --light-black: #495057;
    --text-color: #495057;
    --light-text-color: #6c757d;
    --new-item-btn-bg : #14bdad;
    --delete-item-btn-bg: #CF584A;
    --edit-item-btn-bg: #F9D37C;
    --text-field-border-color: #adb5bd;
    --topbar-bg: #f8f9fa;
    --menu-item-color: #6d7080;
    --add-new-button: #5596f7;
    --icon-color: #7B7B83;
    --blue-color: #024FFE;
}

.container {
    display: flex !important;
    margin: 0px;
    padding: 0px
}
.addUserBtn {
    padding: 5px 10px;
    background-color: var(--white);
    border: 1px solid var(--new-item-btn-bg);
    color: var(--new-item-btn-bg);
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-general {
    padding: 5px 10px;
    background-color: var(--add-new-button);
    border: 1px solid var(--add-new-button);
    color: var(--white);
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.deleteMultiBtn {
    padding: 5px 10px;
    background-color: var(--white);
    border: 1px solid var(--delete-item-btn-bg);
    color: var(--delete-item-btn-bg);
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-danger {
    padding: 5px 10px;
    background-color: var(--delete-item-btn-bg);
    border: 1px solid var(--delete-item-btn-bg);
    color: var(--white);
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.addCircleIcon {
    margin-left: 5px;
}
.actionBtns {
    display: flex;
  align-items: center;
  justify-content: center;
}
.actionBtnEdit {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    padding:10px;
    color: var(--edit-item-btn-bg);
    cursor: pointer;
}
.actionBtnDelete {
    width: 100px;
    height: 100px;
    padding:10px;
    color: var(--delete-item-btn-bg);
    cursor: pointer;
}
.link {
    text-decoration: none;
}

.MuiCheckbox-root svg {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 2;
  }

  .MuiCheckbox-root svg path {
    display: none;
    font-size: 1.0rem !important;
  }
  .MuiCheckbox-root.Mui-checked:not(.MuiCheckbox-indeterminate) svg {
    background-color: #6ab1f3;
    border-color: #6ab1f3;
  }

  .MuiCheckbox-root.Mui-checked .MuiIconButton-label:after {
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0px;
    border-left: 0px;
    transform: rotate(45deg) translate(-50%,-50%);
    opacity: 1;
    transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
    content: "";
    top: 50%;
    left: 39%;
    width: 5.71428571;
    height: 9.14285714;
  }
  
  .MuiCheckbox-root.MuiCheckbox-indeterminate .MuiIconButton-label:after {
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    transform: none;
    top: 39%;
    border: 0px;
  }