body {
    --white: #f8f9fa;
    --dark-black: #343a40;
    --light-black: #495057;
    --text-color: #495057;
    --light-text-color: #6c757d;
    --new-item-btn-bg : #14bdad;
    --delete-item-btn-bg: #CF584A;
    --edit-item-btn-bg: #F9D37C;
    --text-field-border-color: #adb5bd;
    --topbar-bg: #f8f9fa
}

.container {
    display: flex !important;
    margin: 0px;
    padding: 0px
}
.addUserBtn {
    padding: 5px 10px;
    background-color: var(--white);
    border: 1px solid var(--new-item-btn-bg);
    color: var(--new-item-btn-bg);
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.deleteMultiBtn {
    padding: 5px 10px;
    background-color: var(--white);
    border: 1px solid var(--delete-item-btn-bg);
    color: var(--delete-item-btn-bg);
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.addCircleIcon {
    margin-left: 5px;
}
.actionBtns {
    display: flex;
  align-items: center;
  justify-content: center;
}
.actionBtnEdit {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    padding:10px;
    color: var(--edit-item-btn-bg);
    cursor: pointer;
}
.actionBtnDelete {
    width: 100px;
    height: 100px;
    padding:10px;
    color: var(--delete-item-btn-bg);
    cursor: pointer;
}
.link {
    text-decoration: none;
}