.userContainer {
    flex: 4;
    padding: 20px;
    min-width: 600px;
    min-height: 100% !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:30px;
    margin-bottom:20px
}
