.container {
    flex: 4;
    padding: 0px 40px;
    background-color: #f8f9fa;
}
.userContainer {
    background-color: #fff;
    padding: 20px;
    margin-top:40px;
    min-width: 100%;
    min-height: 100% !important;
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:30px;
    margin-bottom:20px
}
